# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Variables
myApiKey = "AIzaSyBoMfA5Ks4OZETQc8cHl_5B2PMuxwzGeEQ",
myAuthDomain = "bidview-project.firebaseapp.com",
myDatabaseURL = "https://bidview-project.firebaseio.com",
myProjectId = "bidview-project",
myStorageBucket = "bidview-project.appspot.com",
myMessagingSenderId = "236492093261"


## Instructions for REST services
## Using REST Services

Follow these instructions to run it with the REST data services:

1. Replace all references to `movie-service-mock` and `actor-service-mock` with `movie-service` and `actor-service`
 
1. Install the Node.js implementation of the REST services (see [this repository](https://github.com/dreamhouseapp/dreamhouse-rest-services) for instructions), and run the Node server.
 
1. Adjust the `SERVER_URL` in `providers/config.ts`. The default is http://localhost:5000.

1. Run the app in the browser
    ```
    ionic serve
    ```
